.navbar {
  height: fit-content;
  min-height: 8vh;
  display: flex;
  align-items: center;
  border-bottom: 1px dashed wheat;
  width: 100%;
}
.menu-bars {
  font-size: 1.5em;
}
.bars{
  display: flex;
  align-items: center;
  padding: 0 1em;
}
.live{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  border-left: 1px dashed wheat;
  height: inherit;
  width: 100% !important;
  color: #fff;
}
.live div:nth-child(1) p:nth-child(1){
  color:#41c7c7;

}
.live div:nth-child(2) p:nth-child(1){
  color:#fe6a6a;
}
.live div:nth-child(3) p:nth-child(1){
  color:pink;
}
.datas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 1em;
  border-right: 0.5px solid wheat;
}
.datas p{
  font-size: 20px;
  margin: 0;
}

.header{
  width: 100%;
  height: 8vh;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
}
.header .text{
  border: 1px dashed wheat;
  width: 25%;
  display: grid;
  place-items: center;
}
.text p{
  font-size: 1.5em;
}
.nav-menu {
  z-index: 999;
  background: #222429;
  height: 100vh !important;
  width: 300px;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 1000ms;
  border: 1px dashed wheat;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.nav-menu.active {
  left: 0%;
  transition: 500ms;
}
.nav-menu-item{
  height: 91%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.navbar-toggle{
  list-style: none;
  font-size: 1.5em;
  display: flex;
  justify-content: flex-end;
  margin: 0.5em .5em;
}
.nav-items {
  width: fit-content;
  height: fit-content;
  padding: 0 1em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  list-style: none;
  margin-bottom: 1em;
}
.nav-items-inactive{
  color: #41c7c7;
  text-decoration: none;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.nav-items-active{
  color: #94eeee;
}
.nav-items-active p::before{
  content: "> ";
}
.nav-items-inactive span{
  display: block;
  width: 100%;
  height: 3px;
  bottom: 0;
  background: #41c7c7;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
  margin: 0;
  margin-top: -10px;
}
.nav-items-active span{
  background: #94eeee;
}
.nav-items:hover span{
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;

}
.nav-items-inactive:hover p{
  text-shadow: rgb(65 199 199 / 90%) 0px 2px 10px;
}
.footy{
  text-align: center;
  color: wheat;
  font-size: 0.8em;
}
@media only screen and (max-width: 250px){
  .nav-menu{
    display: none;
  }
}
@media only screen and (max-width: 450px){
  .datas p{
    font-size: 3vw;
  }
}