.demographic_container{
	display: grid;
	place-items: center;
	grid-row-gap: 2em;
	color: var(--base_white);
	font-size: 18px;
	overflow: hidden;
	width: 100%;
}
.demographic_header,.demographic_sources{
	display: grid;
	justify-items: center;
}
.demographic_header h1{
	color: var(--vibe_pink);
	text-align: center;
	font-size: 1.8em;
}
.demographic_header p{
	text-align: center;
	font-size: 16px;
}
.demographic_hero{
	display: grid;
	place-items: center;
	padding: 1em;
}
.demographic_hero p{
	font-size: 12px;
	color: var(--base_red);
}
.demographic_hero img {
	width: 100%;
	max-width: 640px;
	height: auto;
	object-fit: cover;
	margin-top: 2em;
	border-radius: 8px;
}
.demographic_sources_text p{
	text-align: center;
	color: var(--vibe_pink);
	font-size: 16px;
}
.demographic_sources_img{
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}
.demographic_sources_img img{
	height: 20vw;
	width: auto;
	object-fit: contain;
}
.demographic_sources_img img:nth-child(1){
	filter: contrast(10%);
}
